@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*------------------------------------------- BASE */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #242424;
  color: white;
  font-family: "Heebo", sans-serif;
}

.red {
  color: #d20c0b;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input {
  line-height: 1.25rem;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  color: white;
}

input,
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
}

ul {
  list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.display-none {
  display: none;
}

.center {
  width: 90vw;
  margin: 0 auto;
}

.section-padding {
  padding: 2rem 0;
}

.question-section {
  display: grid;
  justify-items: center;
  align-items: center;
  background: #323232;
  height: 50vh;
}
.question-section p {
  position: relative;
}

.answer-section {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 50vh;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.answer-section p {
  text-align: center;
  width: 4rem;
  padding: 0.2rem 0;
  background: #d20c0b;
  animation: 1s linear 0s infinite forwards running circle;
}

.line {
  margin: 4rem auto 2rem;
  height: 0.2rem;
  width: 15rem;
  background: rgb(210, 12, 11);
  background: linear-gradient(
    90deg,
    rgba(210, 12, 11, 1) 0%,
    rgba(255, 165, 0, 1) 10%,
    rgba(237, 174, 73, 1) 25%,
    rgba(84, 167, 46, 1) 40%,
    rgba(50, 141, 216, 1) 60%,
    rgba(167, 101, 206, 1) 75%,
    rgba(209, 73, 91, 1) 90%,
    rgba(0, 121, 140, 1) 100%
  );
}

@keyframes fadeInLogo {
  0% {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: 90%;
  }
}

.logo {
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 4rem;
  margin-right: 2rem;
  filter: invert(91%) sepia(96%) saturate(14%) hue-rotate(179deg)
    brightness(104%) contrast(100%);
  animation: 5s ease-in-out 0s infinite forwards running fadeInLogo;
}
